.obituary-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }


.obituary-background{
    width:100%;
    z-index: -1
}

  
  .name-container {
    position: absolute; /* Position your search bar absolutely */
    top: 42%; /* Adjust these values to position the search bar as needed */
    z-index: 1; /* Ensure the search bar is above the background image */
    width: 40%;
  }

  .other{
    position:absolute;
    top: 60%;
    left:15%;
    z-index: 1;
    width:100%;
    align-items: center;

  }

  .actionImg{
    max-width: 3%;
  }

  .flowerImg{
    max-width: 2%;
    padding-top:15px;
  }

  .flowertext{
    margin-bottom: 0
  }

  .flowerList{
    display:flex;
    flex-direction: row;
  }

.messageBox{
    margin-top: 25px;
    padding-top: 8px;
    padding-left: 5px;
    height: 20px;
    width: 300px;
    border-radius: 3;
}

.p1{
    font-family: "EB Garamond";
}

.p3{
    font-size:1.5em;
    padding-top: 27px;
    font-family: "EB Garamond";

}

.p4{
    margin-right: 20px;
}


.p5{
    margin-right: 40px;
}
 


.sendButton{
    margin-top:24px;
    height:34px;
}